runtime: nodejs
env: flex

manual_scaling:
  instances: 1

env_variables:
  SLACK_URL: https://hooks.slack.com/services/[TOKEN]
  TITO_API_TOKEN: [TOKEN]
  TITO_API_HOST: api.tito.io
  TITO_API_PATH: /v2/that-conference/[EVENT]/releases
